@import url('https://unpkg.com/css.gg@2.0.0/icons/css/check.css');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: #122030;
    color: #fff;
}
#header{
    width: 100%;
    height: 10%;
    position: sticky;
    background: #081421;
    top: 0;
    z-index: 100;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-family: "Quicksand-Bold",sans-serif;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #EA3800;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:hover,
nav ul li a.active{
    color: #EA3800;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
#Home{
    display: flex;
    background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(255,255,255,0.1))
    ,url("../images/techBackground.jpeg");
    width: 100%;
    height: 600px;
    aspect-ratio: 16/9;
    background-size: cover;
}
.welcome-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50%;
}
.btn-contact a{
    color: #ea3800;
    font-size: 20px;
    text-decoration-line: none;
}
.btn-contact{
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #fff;
    background-color: #1f2d3e;
    padding: 10px 30px;
    border: solid #ea3800 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 7px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
}
.btn-contact:hover{
    transition : 1000ms;
    transform : translateY(-3px);
    background-color: #fff;
    color: #ea3800;
    border: solid 2px #ea3800;
}
.welcome-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.welcome-image img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.text-elements h1 span{
    color: #EA3800;
    font-weight: bold;
    font-family: "Quicksand-Bold",sans-serif;
    
}
.text-elements p span{
    color: #EA3800;
    font-weight: bold;
    font-family: "Quicksand-Bold",sans-serif;
}
.text-elements p{
    margin-bottom: 20px;
    font-family: "Quicksand-Bold",sans-serif;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #EA3800;
}
/* ----------------------- about ----------------------- */
#About{
    padding: 80px 0px;
}
.conatainer-about{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.sub-title{
    margin-left: 40px;
}
.row-about{
    display: flex;
    flex-wrap: wrap;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}
#About img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
#About h1{
    font-size: 60px;
    margin-bottom: 20px;
}
#About p span{
    font-weight: bold;
    color: #fff;
}
#About p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #ababab;
}
#About ul li{
    list-style-type: none;
    margin: 0 10px;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
}
.skills-list li{
    display: flex;
    flex-wrap: wrap;
}
.skills-list li i{
    color: #EA3800;
    margin-right: 5px;
    margin-bottom: 10px;
}

.flex img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
    transition : 1000ms;
}
.flex img:hover{
    transform: scale(1.1);
    transition : 1000ms;
}

/* ----------------------- portfolio ----------------------- */
#Portfolio{
    padding: 40px 0;
}
#Portfolio h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.work-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.work{
    background-color: rgba(128, 141, 173, 0.3);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,9);
    width: 325px;
    margin: 20px;
    transition : 1000ms;
}
.work:hover{
    transform: scale(1.1);
    transition : 1000ms;
}
.work img{
    width: 100%;
}
.work-details{
    padding: 16px;
}
.work-details h3{
    color: #EA3800;
    margin-bottom: 8px;
    font-size: 28px;
}
.work-details p{
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 10px;
    color: #ababab;
}
.tech-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.tech-list li{
    padding: 8px;
    border-radius: 8px;
    list-style-type: none;
    background-color: #122030;
    width: auto;
    margin-bottom: 5px;
    margin-right: 10px;
}
.task-list{
    margin-left: 15px;
}
.task-list li{
    margin-bottom: 3px;
    color: #ababab;
}
.date{
    font-weight: bold;
    color: #fff;
}
.status{
    font-weight: bold;
    color: #fff;
}
/* ----------------------- Contact Me ----------------------- */
#Contact h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.row-contact{
    display: flex;
    justify-content: flex-start;
}
.contact-left{
    width: 40%;
}
.contact-left p{
    display: flex;
    margin-top: 30px;
    font-size: 18px;
}
.contact-left p i{
    color:#EA3800;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5S;
    margin-bottom: 10px;
}
.social-icons a:hover{
    color:#EA3800;
    transform: translateY(-5px);
}
.btn.btn2{
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color:#EA3800;
    background-color: #1f2d3e;
    padding: 10px 20px;
    border: solid #ea3800 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 7px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.btn.btn2:hover{
    transition : 1000ms;
    transform : translateY(-3px);
    background-color: #fff;
    color: #ea3800;
    border: solid 2px #ea3800;
}
.btn.btn2 a{
    text-decoration: none;
    color:#EA3800;
    font-size: 15px;
}
/*------------------------- footer --------------------------------*/
.footer-links ul{
    display: flex;
}
.footer-links ul li{
    list-style-type: none;
    margin: 5px 10px;
}
.footer-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-family: "Quicksand-Bold",sans-serif;
    transform: 1000ms;
}
.footer-links ul li a:hover{
    color: #EA3800;
}
.row-footer{
    display: flex;
}
.host ul li{
    font-family: "Quicksand-Bold",sans-serif;
    list-style-type: none;
    margin: 5px 10px;
    font-size: 18px;
}
.footer-links{
    flex: 60%;
}
.copyright-text{
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Quicksand-Bold",sans-serif;
}
/* ----------------------- for small screen ----------------------- */
@media only screen and (max-width: 600px){
    #header{
        background-image: url();
    }
    #Home{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }
    .welcome-text{
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
    .welcome-image{
        margin-top: 20px;
    }
    .welcome-image img{
        
    }
/*------------------------- about --------------------------------*/
    .row-about{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }
/*------------------------- contact --------------------------------*/
    .row-contact{
        display: flex;
        justify-content: center;
    }
    .sub-title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .row-contact{
        display: flex;
        justify-content: center;
    }
    .contact-left{
        width: 40%;
    }
    .contact-left p{
        
        margin-top: 30px;
    }
    .contact-left p i{
        color:#EA3800;
        margin-right: 15px;
        font-size: 25px;
    }
    .social-icons{
        margin-top: 30px;
    }
    .social-icons a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        color: #ababab;
        display: inline-block;
        transition: transform 0.5S;
        margin-bottom: 10px;
    }
/*------------------------- footer --------------------------------*/
}